@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" href="~/css/home.css" />
</head>

<body>
    <div class="container">
        <div class="text-center">
            <h1 class="name">Rentoria, Zhenmalane A.</h1>
            <h1 class="course">Bachelor of Science in Computer Science</h1>
            <h1 class="section">BSCS 32E1</h1>
            <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        </div>
    </div>
</body>